<div *ngIf="highestDifficulty != null" class="card-body highest-climb-card">
    <h5 class="card-title highest-climb-title">Highest Climb Sent</h5>
    <h3 class="card-subtitle mb-2 highest-climb-subtitle">V{{highestDifficulty['difficulty']}}</h3>
    <p class="card-text highest-climb-text-location">{{highestDifficulty['location']}}</p>
    <p class="card-text highest-climb-text-date">{{highestDifficulty['date'] | date: 'mediumDate'}}</p>
    <button class="btn btn-tap-to-view">Tap to view</button>
  </div>
