$SendItGreen: #62A892;

.filter-list{
  background-color: rgb(100, 203, 163);
  color: white; 
  width: 100%;
  height: 50px; 
  padding: 15px;
  font-style: italic;
  font-size: 14px; 
}

.climb-list{
  padding-top: 10px; 
  list-style: none;
  padding-left: 0px;
}