$SendItGreen: #62A892;

.footer-containter{
  position: fixed;
  bottom: 0;
  height: 50px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
  ul.footer-icons{
    padding: 10px 0px;
    li{
      display: inline;
      padding: 15px;
      list-style: none;
      text-align: center;
      color: $SendItGreen;
    }
  }
}
