<div className="registration-from col">
    <div className="background-form container">
      <h1 className="logo logo-register">Send It!</h1>
    </div>
  <div className="col">
  <h3 className="registration-title">Create New Account</h3>
    <form className="registration-form">
      <div className="form-group">
        <input type="text" className="form-control register-input" id="username_register" name="username" placeholder="Username" required/>
      </div>
      <div className="form-group">
        <input type="email" className="form-control email-input register-input" id="email_register" name="email" placeholder="Email" required/>
      </div>
      <div className="form-group">
        <input type="password" className="form-control register-input" id="password_register" name="password" placeholder="Password" required/>
        <small id="password-register" className="pass-help form-text text-muted">Must be atleast 8 characters long</small>
      </div>
      <div className="register-btn text-center">
        <button type="submit" className="registration-button btn-sytle-1 btn">Create Account</button>
      </div> 
    </form>
  </div>
</div>