<div [routerLink]="['/']" class="logo-background-create">
  <h1 class="logo text-center">Send It!</h1>
</div>

<div class="col">
  <h3 class="registration-title text-center">Create New Account</h3>
  <form class="registration-form">
    <div class="form-group">
      <input type="text" class="form-control register-input" id="username_register" name="username"
        placeholder="Username" required />
        <i class="fa fa-user"></i>
    </div>
    <div class="form-group">
      <input type="email" class="form-control email-input register-input" id="email_register" name="email"
        placeholder="Email" required />
        <i class="fas fa-envelope"></i>
    </div>
    <div class="form-group">
      <input type="password" class="form-control register-input" id="password_register" name="password"
        placeholder="Password" required />
        <i class="fas fa-key"></i>
      <small id="password-register" class="pass-help form-text text-muted">Must be atleast 8 characters long</small>
    </div>
    <div class="register-btn text-center">
      <button type="button" class="btn-style-1 btn">Create Account</button>
    </div>
  </form>
</div>