$SendItGreen: #62A892;

form.add-climb-form{
  color: $SendItGreen;
  padding: 30px 40px; 
  input.add-input{
    border: none;
    border-bottom: 1px solid $SendItGreen;
    font-size: 14px;
  }
  .attempts{
    padding-top: 5px;
    font-size: 2em;
    font-weight: bold;
    button.attempt-btn{
      font-size: 1em;
      color: $SendItGreen;
    }
  }
  button.submit-climb-btn{
    margin-top: 15px; 
  }
}