<form class="add-climb-form">
  <div class="form-group">
    <label>Difficulty</label> 
    <select class="form-control add-input" >
      <option *ngFor="let difficulty of difficulties" [value]="difficulty.value">
        {{difficulty.difficulty}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control add-input" id="difficulty" />
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control add-input" id="location" />
  </div>
  <div class="attempts text-center">
    Attempts
    <div class="change-attempts">
      <button (click)="onDecrement()" type="button" class="attempt-btn btn">
        < </button> {{attempts}} <button type="button" (click)="onIncrement()" class="attempt-btn btn"> >
      </button>
    </div>
    Nailed It!
    <button type="submit" (click)="onSubmitClimb($event)" class="btn-style-1 submit-climb-btn btn">Submit Climb</button>
  </div>
</form>
