
.by-difficulty{
  font-size: .8em;
  color: grey;
  ul{
    padding-left: 0px; 
    li{
      list-style: none;
    }
  }
  button.btn-tap-to-view{
    font-style: italic;
    font-size: .5em;
    color: grey;
  }
}

