<div [routerLink]="['/']" class="landing-background-login">
  <h1 class="logo text-center">Send It!</h1>
</div>

<div class="landing-buttons">
  <ul class="sign-in-buttons text-center">
    <li>
      <button [routerLink]="['/login']" type="button" class="sign-in-btn btn-style-1 btn">
        Sign-in with Username
      </button>
    </li>
    <li>
      <button type="button" class="google-btn btn">
        <img src='../../assets/icons/google-icon.png' height="30px" alt="google icon" />
        <span>Sign-in with Google</span>
      </button>
    </li>
    <li>
      <button [routerLink]="['/registration']" type="button" class="create-btn btn-style-1 btn btn-link">
        Create New Account
      </button>
    </li>
  </ul>
</div>
