<div class="dashboard container">
  <div class="row">
    <div class="col-6">
      <div class="card hightest-climb dash-card">
        <app-highest-sent></app-highest-sent>
      </div>
      <div class="card last-climb dash-card">
        <app-last-climb></app-last-climb>
      </div>
    </div>
    <div class="col-6">
      <div class="card dash-card">
        <app-climb-by-diff></app-climb-by-diff>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card dash-card">
        <app-climb-by-attempt></app-climb-by-attempt>
      </div>
    </div>
  </div>
</div>
