<div class="dashboard container">

  <div class="highest-difficulty row">
    <h3 class="data-title col-12">Highest Difficulty Sent</h3>
    <p>
      <span class="difficulty">V2</span>
      <span class="location">location</span>
      <span class="date">date</span>
    </p>
  </div>

  <div class="total-projects row">
    <h3 class="data-title col-12">Total Projects Completed</h3>
    <ul>
      <li>V1 27 projects</li>
    </ul>
  </div>

  <div class="total-attempts row">
    <h3 class="data-title col-12">Total Attempts</h3>
    <p>3</p>
  </div>
</div>
