li{
  .favorite-climb{
    color: rgb(186, 186, 186);
  }
  .favorite{
    color: rgb(244, 244, 91);
  }
  .difficulty{
    font-weight: 900;
    font-size: .9em;
  }
  .diff-0{
    color: green;
  }
  .diff-1{
    color: green;
  }
  .diff-2{
    color: rgb(233, 233, 73);
  }
  .diff-3{
    color: orange;
  }
  .diff-4{
    color: orange;
  }
  .diff-5{
    color: red;
  }
  .diff-6{
    color: red;
  }
  .diff-7{
    color: purple;
  }
  .diff-8{
    color: purple;
  }
  .diff-9{
    color: black;
  }
  .diff-10{
    color: black;
  }
  .location{
    color: grey;
  }
  .attempts{
    float: right;
    padding-right: 40px;
    font-size: .7em;
    color: grey;
  }
}