@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';

$SendItGreen: #62A892;

html, body {
  margin:0;
  padding: 0;
}

body{
  font-family: "Lato";
}

.btn-style-1{
  background-color: $SendItGreen;
  color: white;
  border-radius: 30px;
  width: 250px; 
  height: 50px; 
}